header {
    background-color: red;
    height: 100px;
}

nav{
    background-color: #f5f5f5;
}

div {
    
}

aside {
    background-color: blue;
}

footer {
    background-color: #333;
    color: #f5f5f5;
}